{
  "extends": "stylelint-config-recommended",
  "plugins": ["stylelint-order"],
  "rules": {
    "length-zero-no-unit": true,
    "selector-pseudo-element-no-unknown": [true, { "ignorePseudoElements": ["ng-deep"] }],
    "at-rule-no-unknown": [true, { "ignoreAtRules": ["function", "if", "each", "include", "mixin"] }],
    "order/order": ["custom-properties", "declarations"],
    "order/properties-order": [
      [
        {
          "groupName": "Display",
          "emptyLineBefore": "always",
          "properties": [
            "display",
            "position",
            "top",
            "right",
            "bottom",
            "left",
            "float",
            "clear",
            "overflow",
            "overflow-x",
            "overflow-y",
            "resize",
            "clip",
            "visibility",
            "opacity",
            "cursor",
            "box-sizing",
            "z-index"
          ]
        },
        {
          "groupName": "Felxbox",
          "properties": [
            "flex",
            "flex-basis",
            "flex-direction",
            "flex-flow",
            "flex-direction",
            "flex-wrap",
            "flex-grow",
            "flex-shrink",
            "flex-wrap",
            "justify-content",
            "align-content",
            "align-items",
            "align-self",
            "order"
          ]
        },
        {
          "groupName": "Dimension",
          "emptyLineBefore": "always",
          "properties": ["width", "height", "min-width", "min-height", "max-width", "max-height"]
        },
        {
          "groupName": "Margin, Padding & Border",
          "emptyLineBefore": "always",
          "properties": [
            "margin",
            "margin-top",
            "margin-right",
            "margin-bottom",
            "margin-left",
            "padding",
            "padding-top",
            "padding-right",
            "padding-bottom",
            "padding-left",
            "border",
            "border-bottom",
            "border-bottom-color",
            "border-bottom-left-radius",
            "border-bottom-right-radius",
            "border-bottom-style",
            "border-bottom-width",
            "border-color",
            "border-image",
            "border-image-outset",
            "border-image-repeat",
            "border-image-slice",
            "border-image-source",
            "border-image-width",
            "border-left",
            "border-left-color",
            "border-left-style",
            "border-left-width",
            "border-radius",
            "border-right",
            "border-right-color",
            "border-right-style",
            "border-right-width",
            "border-style",
            "border-top",
            "border-top-color",
            "border-top-left-radius",
            "border-top-right-radius",
            "border-top-style",
            "border-top-width",
            "border-width"
          ]
        },
        {
          "groupName": "Color, Background and Shadow",
          "emptyLineBefore": "always",
          "properties": [
            "color",
            "background",
            "background-attachment",
            "background-clip",
            "background-color",
            "background-image",
            "background-origin",
            "background-position",
            "background-repeat",
            "background-size",
            "box-shadow"
          ]
        },
        {
          "groupName": "Font and Text",
          "emptyLineBefore": "always",
          "properties": [
            "font",
            "font-family",
            "font-size",
            "font-size-adjust",
            "font-stretch",
            "font-style",
            "font-variant",
            "font-weight",
            "direction",
            "tab-size",
            "text-align",
            "text-align-last",
            "text-align",
            "justify",
            "text-decoration",
            "text-decoration-color",
            "text-decoration-line",
            "text-decoration-line",
            "text-decoration-style",
            "text-decoration-line",
            "text-indent",
            "text-justify",
            "text-align",
            "justify",
            "text-overflow",
            "text-shadow",
            "text-transform",
            "line-height",
            "vertical-align",
            "letter-spacing",
            "word-spacing",
            "white-space",
            "word-break",
            "word-wrap"
          ]
        },
        {
          "groupName": "Misc",
          "emptyLineBefore": "always",
          "properties": [
            "animation",
            "animation-delay",
            "animation-direction",
            "animation-duration",
            "animation-fill-mode",
            "animation-iteration-count",
            "animation-name",
            "@keyframes",
            "animation-play-state",
            "animation-timing-function",
            "list-style",
            "list-style-image",
            "list-style-position",
            "list-style-type",
            "column-count",
            "column-fill",
            "column-gap",
            "column-rule",
            "column-rule-color",
            "column-rule-style",
            "column-rule-width",
            "column-span",
            "column-width",
            "columns",
            "column-width",
            "column-count",
            "outline",
            "outline-color",
            "outline-offset",
            "outline-style",
            "outline-width",
            "backface-visibility",
            "perspective",
            "perspective-origin",
            "transform",
            "transform-origin",
            "transform-style",
            "transition",
            "transition-delay",
            "transition-duration",
            "transition-property",
            "transition-timing-function"
          ]
        }
      ],
      { "unspecified": "bottomAlphabetical" }
    ]
  }
}
